/* NotFoundImage.module.css */
.root {
  padding-block: 80px; /* top & bottom */
}

.title {
  font:
    500 34px/1.2 "Outfit",
    var(--mantine-font-family);
  margin-bottom: var(--mantine-spacing-md);
}

@media (max-width: 48em) {
  /* sm breakpoint */
  .title {
    font-size: 32px;
  }
  .control {
    width: 100%;
  }
  .desktopImage {
    display: none;
  }
}

@media (min-width: 48em) {
  /* sm+ */
  .mobileImage {
    display: none;
  }
}
